<p id="notice"><%= notice %></p>

<p>
  <strong>Staff:</strong>
  <%= @train.staff.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @train.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @train.train_type %>
</p>

<p>
  <strong>Availibility:</strong>
  <%= @train.availibility %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
