<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :passenger_id %><br>
    <%= f.select :passenger_id, options_for_select(Passenger.all.map{|x| [x.name, x.id]}) %>
  </div>
  <div class="field">
    <%= f.label :train_compartment_id %><br>
    <%= f.select :train_compartment_id, options_for_select(TrainCompartment.all.map{|x| [x.name, x.id]}) %>
  </div>
  <div class="field">
    <%= f.label :seat_number %><br>
    <%= f.number_field :seat_number %>
  </div>
  <div class="field">
    <%= f.label :reservation_date %><br>
    <%= f.date_select :reservation_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
