<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <%= @route.source.name %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @route.destination.name %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
